BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 0
IndentCaseLabels: false
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Left
