[submodule "lib/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua/
	branch = v5.3
[submodule "lib/android-libjpeg-turbo"]
	path = third_party/android-libjpeg-turbo
	url = git@github.com:petabyt/android-libjpeg-turbo.git
[submodule "lib/camlib"]
	path = lib/libpict
	url = git@github.com:petabyt/camlib.git
[submodule "third_party/fp"]
	path = lib/fp
	url = git@github.com:petabyt/fp.git
[submodule "third_party/libwpd"]
	path = third_party/libwpd
	url = https://github.com/petabyt/libwpd.git
[submodule "third_party/libui-dev"]
	path = third_party/libui-dev
	url = https://github.com/petabyt/libui-dev.git
[submodule "third_party/rim"]
	path = third_party/rim
	url = https://github.com/petabyt/rim.git
