[submodule "lib/lua"]
	path = third_party/lua
	url = https://github.com/lua/lua/
	branch = v5.3
[submodule "lib/android-libjpeg-turbo"]
	path = third_party/android-libjpeg-turbo
	url = git@github.com:petabyt/android-libjpeg-turbo.git
[submodule "lib/camlib"]
	path = lib/camlib
	url = git@github.com:petabyt/camlib.git
[submodule "third_party/fp"]
	path = lib/fp
	url = git@github.com:petabyt/fp.git
[submodule "third_party/libxml2"]
	path = third_party/libxml2
	url = https://github.com/GNOME/libxml2.git
