name: Test suite

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Install deps
      run: sudo apt update && sudo apt install gcc g++ git cmake libgtk-3-dev liblua5.3-dev libusb-1.0-0-dev curl libexif-dev ninja-build libfreetype-dev libvulkan-dev libglfw3-dev libxml2-dev libimgui-dev
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Config to use https in case ssh isn't setup
      run: git config --global url."https://github.com/".insteadOf "git@github.com:"
    - name: Get latest vcam
      run: |
        git clone https://github.com/petabyt/vcam --depth 1 --recurse-submodules /tmp/vcam
        cd /tmp/vcam
        sudo make install
    - name: Compile desktop
      run: cd lib && cmake -G Ninja -B build -DLIBFUDGE_INCLUDE_CLI=ON && cmake --build build
    - name: Run fudge unit test
      run: lib/build/libfudge-cli --test-wifi
